/* common */
body {
    padding: 10px;
    max-width: 900px;
}

textarea {
    resize: none;
}

/* login page */
.login-wrapper {
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
}

/* header */
.user-logout {
    float: right;
}

/* project view page */
.bottom-line {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: #eee solid 1px;
}

.comment-form-wrapper {
    width: 600px;
}
